{% extends "base.twig" %}

{% block content %}
<div class="home">
            <div class="experience-content">
                {{ post.content }}
            </div>

    {# Sections ajoutées #}
    <section>
        <h2>Dernières Formations</h2>
        <ul>
            {% for formation in formations %}
                <li><a href="{{ formation.link }}">{{ formation.title }}</a></li>
            {% endfor %}
        </ul>
    </section>

    <section>
        <h2>Dernières Expériences</h2>
        <ul>
            {% for experience in experiences %}
                <li><a href="{{ experience.link }}">{{ experience.title }}</a></li>
            {% endfor %}
        </ul>
    </section>

    <section>
        <h2>Derniers Projets</h2>
        <ul>
            {% for projet in projets %}
                <li><a href="{{ projet.link }}">{{ projet.title }}</a></li>
            {% endfor %}
        </ul>
    </section>
</div>
{% endblock %}