{% extends "base.twig" %}

{% block content %}
<div class="container-fluid">
  <!-- En-tête de recherche -->
  <div class="row">
    <div class="col-16">
      <div class="single-header">
        <h1 class="single-title">{{ title }}</h1>
        
        {% if is_yoast_active %}
          {{function('yoast_breadcrumb', '<p id="breadcrumbs">','</p>')}}
        {% endif %}
      </div>
    </div>
  </div>

  <!-- Message si aucun résultat -->
  {% if posts.found_posts == 0 %}
  <div class="row">
    <div class="col-16">
      <div class="single-content">
        <h2 class="single-title">Désolé, il n'y a aucun résultat.</h2>
      </div>
    </div>
  </div>
  {% endif %}
  
  <!-- Résultats de recherche -->
  <div class="row row--equal-height">
  {% for source in posts %}
    <div class="col-16">
      <div class="bento-card bento-card--dark">
        <div class="bento-card__header">
          <h2>{{source.post_title}}</h2>
        </div>
        
        <div class="bento-card__info-container">
          <!-- Type de contenu -->
          <div class="competences-grid__item">
            <div class="info-content">
              {{ source.post_type|capitalize }}
            </div>
          </div>
          
        </div>
        
        <!-- Description -->
        <div class="bento-card__description">
          {% if source.post_content %}
            <span class="mobile-text">{{ source.post_content|striptags|slice(0, 250) }}{% if source.post_content|striptags|length > 250 %}...{% endif %}</span>
            <span class="desktop-text">{{ source.post_content|striptags|slice(0, 800) }}{% if source.post_content|striptags|length > 800 %}...{% endif %}</span>
          {% endif %}
        </div>
        
        <a href="{{ source.link }}" class="discover-more ">Voir le contenu</a>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
{% endblock %}