{% extends "base.twig" %}

{% block content %}
<div class="container-fluid">
  <!-- En-tête du projet -->
  <div class="row">
    <div class="col-16">
      <div class="single-header">
        <h1 class="single-title">{{ post.title }}</h1>
        
        <div class="single-meta-info">
          <!-- Type de projet (si disponible) -->
          {% if post.meta('type') %}
            <div class="info-item">
              <div class="info-icon">
                <img src="{{ theme.link }}/assets/src/img/type.svg" alt="Type" class="info-icon__svg">
              </div>
              <div class="info-content">
                {{ post.meta('type') }}
              </div>
            </div>
          {% endif %}
          
          <!-- Date -->
          {% if post.meta('date') %}
            <div class="info-item">
              <div class="info-icon">
                <img src="{{ theme.link }}/assets/src/img/calendrier.svg" alt="Date" class="info-icon__svg">
              </div>
              <div class="info-content">
                {{ post.meta('date')|date('m/Y') }}
              </div>
            </div>
          {% endif %}
          
          <!-- Localisation (si disponible) -->
          {% if post.meta('location') %}
            <div class="info-item">
              <div class="info-icon">
                <img src="{{ theme.link }}/assets/src/img/location.svg" alt="Location" class="info-icon__svg">
              </div>
              <div class="info-content">
                {{ post.meta('location') }}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  
  <!-- Contenu du projet -->
  <div class="row">
    <div class="col-16">
      <div class="single-content">
        {{ post.content }}
        
        <!-- Lien du projet (si disponible) -->
        {% if post.meta('link') %}
          <div class="project-link">
            <h3>Lien</h3>
            <a href="{{ post.meta('link') }}" target="_blank" rel="noopener noreferrer">{{ post.meta('link') }}</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="single-header">
    <h1 class="single-title">Ressources</h1>
  </div>
  
  <div class="container-fluid">
    <div class="row row--equal-height">
      <!-- Formations -->
      {% include 'formation.twig' with {
        'titre': 'Formation liée à ce projet',
      } %}

      <!-- Expérience -->
      {% include 'experience.twig' with {
        'titre': 'Expériences liées à ce projet',
      } %}

      <!-- Projets -->
      {% include 'projet.twig' with {
        'titre': 'Autres projets',
      } %}
    </div>
  </div>
</div>
{% endblock %}